body {
    text-align: 10%;
    background-color: rgb(189, 228, 225);
}

.hide {
    display: none;
}

.show {
    display: block;
}

.header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 5px;
    color: rgb(32, 11, 223);
}
.list-group  {
    color: rgb(28, 32, 31);
}